In [1]:
# DAMN
x=[23,45,67,2,5]
x[2:4]

[67, 2]

In [2]:
print(x)
x[2:4]=["bipin"]
print(x)

[23, 45, 67, 2, 5]
[23, 45, 'bipin', 5]

In [3]:
print(x)
x.append("new")
print(x)

[23, 45, 'bipin', 5]
[23, 45, 'bipin', 5, 'new']

In [4]:
print(x)
x.append([1,2,3])
print(x)

[23, 45, 'bipin', 5, 'new']
[23, 45, 'bipin', 5, 'new', [1, 2, 3]]

In [5]:
x[5]

[1, 2, 3]

In [6]:
print(x)
x.extend([1,2,3])
print(x)

[23, 45, 'bipin', 5, 'new', [1, 2, 3]]
[23, 45, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]

In [7]:
print(x)
x.insert(2,"another")
print(x)

[23, 45, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]

In [8]:
print(x)
x=x+[3,4,5]
print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4, 5]

In [9]:
print(x)
x.pop()
print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4, 5]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]

In [10]:
print(x)
x.pop(3)
print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]
[23, 45, 'another', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]

In [11]:
print(x)
x.remove("another")
print(x)

[23, 45, 'another', 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]
[23, 45, 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]

In [12]:
print(x)
x.remove(3)
print(x)

[23, 45, 5, 'new', [1, 2, 3], 1, 2, 3, 3, 4]
[23, 45, 5, 'new', [1, 2, 3], 1, 2, 3, 4]

In [13]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in list(range(10)):
    print(i)
print("Outside Loop")

0
1
2
3
4
5
6
7
8
9
Outside Loop

In [16]:
x = [(a-5)**2 for a in range(10)]
print(x)
x.sort(reverse=False)  #Sorts in place
print(x)
x.sort(reverse=True)
print(x)
x.sort
print(x)

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16]
[0, 1, 1, 4, 4, 9, 9, 16, 16, 25]
[25, 16, 16, 9, 9, 4, 4, 1, 1, 0]
[25, 16, 16, 9, 9, 4, 4, 1, 1, 0]

In [17]:
print(x)
x.reverse()  #Reverses in place
print(x)

[25, 16, 16, 9, 9, 4, 4, 1, 1, 0]
[0, 1, 1, 4, 4, 9, 9, 16, 16, 25]

In [18]:
# 2D Lists,below are list of lists where each have a individual list inside it

number_sets = [[2,4,6,8,[1,2,[1,2,3,4]],10],[3,6,9,12,15],[4,8,12,16,20]]
print(number_sets[1])
print(number_sets[1][2])

[3, 6, 9, 12, 15]
9

In [19]:
a=[[2,4,6,8,10],[3,6,9,12,15],[4,8,12,16,20]]
a[0].extend([12,14,16,18,20])
print(a)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [20]:
a[2].reverse()
print(a)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15], [20, 16, 12, 8, 4]]

In [21]:
cities = ["Delhi","Bangalore","Mumbai","Pune"]
print(len(cities[0]))
print(len(cities[1]))
print(len(cities[2]))
print(len(cities[3]))
#DAMN

5
9
6
4

In [22]:
# for city in cities
#     print
# #DAMN

In [23]:
100%32

4

In [24]:
x = range(8)
print(x)
x_mod_2=[]

for a in x:
    x_mod_2.append(a%2)

x_mod_2

range(0, 8)

[0, 1, 0, 1, 0, 1, 0, 1]

In [25]:
x_mod_2 = []
x_mod_2 = [a%2 for a in x]
x_mod_2

[0, 1, 0, 1, 0, 1, 0, 1]

In [26]:
print(x)

range(0, 8)

In [27]:
import math
x_ls2 = [math.log(a) for a in x if a%2 != 0 ]
print(x_ls2)

[0.0, 1.0986122886681098, 1.6094379124341003, 1.9459101490553132]

In [28]:
def my_func(x):
    if x%2!=0:
        return(math.log(x))
    else:
        return(x)

x_ls3=[my_func(a) for a in x]
x_ls3

[0, 0.0, 2, 1.0986122886681098, 4, 1.6094379124341003, 6, 1.9459101490553132]

In [29]:
def mysum(x=10,y=10):
    return(2*x+3*y)

print("inside print",mysum(2,3))
print("inside print",mysum(2))
print("inside print",mysum())

inside print 13
inside print 34
inside print 50

In [30]:
mysum(y=4)
# 2*10 + 3*4

32

In [31]:
print(mysum(y=-10))
print(mysum(y=100,x=1))

-10
302

In [32]:
def cube(y):
    return y*y*y

z = lambda a: a*a*a
print("1st Lamda Function:",z(7))

w = lambda a,b: a+b
print("2nd Lamda Function",w(3,5))

print("Cube Function:",cube(5))
print(lambda a: a*a*a)

1st Lamda Function: 343
2nd Lamda Function 8
Cube Function: 125
<function <lambda> at 0x05A7C658>

In [33]:
d={"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}
print(d)

{'actor': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3]}

In [34]:
d["animal"]
# d["fish"]   #throws error

'dog'

In [35]:
# add new key value pair
d['module']="intro"
print(d)

{'actor': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3], 'module': 'intro'}

In [36]:
d['list'][0]

1

In [37]:
del d['actor']
print(d)

{'animal': 'dog', 'earth': 1, 'list': [1, 2, 3], 'module': 'intro'}

In [38]:
# Iterates on Dictionary key and not on the value
for elem in d:
    print('value for key: %s is' % (elem),":",d[elem])

value for key: animal is : dog
value for key: earth is : 1
value for key: list is : [1, 2, 3]
value for key: module is : intro

In [39]:
d.items()

dict_items([('animal', 'dog'), ('earth', 1), ('list', [1, 2, 3]), ('module', 'intro')])

In [42]:
for a,b in d.items():
    print('Value for key: %s is %s ' %(a,b))

Value for key: animal is dog
Value for key: earth is 1
Value for key: list is [1, 2, 3]
Value for key: module is intro

In [ ]:
my_dict = {'name': 'Guhan' , 'age' : 24}

# Update Value
my_dict[]