# Dictionaries

In [1]:
d = {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}
print(d)

{'actor': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3]}

In [2]:
d["animal"]

'dog'

In [3]:
del d['actor']
print(d)
# DAMN

{'animal': 'dog', 'earth': 1, 'list': [1, 2, 3]}

In [4]:
# Iterates on Dictionary key and not on the value
for elem in d:
    print('value for key: %s is' % (elem),":",d[elem])

value for key: animal is : dog
value for key: earth is : 1
value for key: list is : [1, 2, 3]

In [5]:
d.items()

dict_items([('animal', 'dog'), ('earth', 1), ('list', [1, 2, 3])])

In [6]:
for a,b in d.items():
    print('Value for key: %s is %s ' %(a,b))

Value for key: animal is dog
Value for key: earth is 1
Value for key: list is [1, 2, 3]

In [7]:
my_dict = {'name':'Kaustav','age':24}

# Update Value
my_dict['age'] = 26
print(my_dict)
my_dict['address'] = 'Chennai'
print(my_dict)

{'name': 'Kaustav', 'age': 26}
{'name': 'Kaustav', 'age': 26, 'address': 'Chennai'}

In [8]:
squares = { 1:1 , 2:4 , 3:9 , 4:16 , 5:25 }

print(squares.pop(4))
print(squares)

# Delete particular item
del (squares[5])
print(squares)

# remove all the items
squares.clear()
print(squares)

# Delete the dictionary itslef
del squares
# print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
{1: 1, 2: 4, 3: 9}
{}

# Sets

In [9]:
animals = {'cat' , 'dog'}

In [10]:
'cat' in animals

True

In [11]:
'fish' in animals

False

In [12]:
# For adding items to the list
animals.add('fish')
print(animals)

{'fish', 'dog', 'cat'}

In [13]:
# For removing items from the list
animals.remove('cat')
print(animals)

{'fish', 'dog'}

In [14]:
animals = {'cat' , 'dog','fish','here','there'}
# Iterating over the Set
for animal in animals:
    print(animal)

fish
here
there
cat
dog

In [15]:
a= {1,2,3,4,5,6,'one'}
b= {4,5,6,7,8,9}

In [16]:
# for union operations
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'one'}

In [17]:
# for intersection operations
d=a.intersection(b)
print(d)

{4, 5, 6}

In [18]:
print(a.issubset(b))
print(a.issubset(c))
print(a.issubset(d))

False
True
False

In [19]:
c.issuperset(b)

True

In [20]:
print(a)
print(b)
print(a.difference(b))   # a-b
print(a.symmetric_difference(b))  # (a-b)U(b-a)

{1, 2, 3, 4, 5, 6, 'one'}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 'one'}
{1, 2, 3, 7, 8, 9, 'one'}

# Tuples

In [21]:
# Tuple is an immutable List
t = 12345 , 54321 , 'hello!'
t

(12345, 54321, 'hello!')

In [22]:
# Tuples can contain tuples themselves
u = t,(1,2,3,4,5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [23]:
print(t)

(12345, 54321, 'hello!')

In [24]:
t[0] = 21  #Cannot reassign values

TypeError: 'tuple' object does not support item assignment

## NOTE
### But tuples can have mutable objects such as lists. So that tuple's elements cannot be changed. You'll see inthe example below:
### When we try to change elelment of tuples , we get an error. ut when we try to change element of a mutable element,it can be done

In [25]:
v = ([1,2,3],[3,2,1])
print(v)

([1, 2, 3], [3, 2, 1])

In [26]:
# Smart Trick
var =13 
tup = (var ,12 ,13)
print(tup)
var = 14
print(tup) 
print(var)

(13, 12, 13)
(13, 12, 13)
14

### Lists have priority over tuples

In [27]:
# Exceptional Case
print(v)
v[0][0]=21
print(v)

([1, 2, 3], [3, 2, 1])
([21, 2, 3], [3, 2, 1])

In [28]:
a = [ a % 2 for a in range (10)]
print(a)
d1 = {x : x for x in range(10)}
print(d1)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [29]:
d2 = {(x,x+1):x for x in range(10)}
# Create a dictionary with tuple keys
print(d2)

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}

In [30]:
d2

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [31]:
# Using tuple to query a dictionary
t = (5,6)
print(type(t))
print(d2[t])

<class 'tuple'>
5