# Python Introduction

In [1]:
x=5
y="Data Science"
# Any text followed by # is not considered python code. These are called Comments
# Shortcut for commenting is : select the line(s) which you want to comment and then use ctrl + /
# Shortcut for executing your code is shift + enter

In [2]:
print(type(x))
x

<class 'int'>

5

In [3]:
y

'Data Science'

In [4]:
type(y)

str

In [5]:
print('Hello World')

Hello World

In [6]:
x = 5
y = x + 5
print(y)

10

In [7]:
# esc a -> insert cell above
# esc b -> insert cell below
# control enter -> run selected cells
# shift enter -> run the current cell
# alt enter -> run the current cell, insert below

In [8]:
isreadablename =3
_or_this_is_more_readable_despite_being_longer =4

In [9]:
type(x)
type(y)

int

In [10]:
x="Data"
x

'Data'

In [11]:
x="4"
type(x)

str

In [12]:
x
print(int(x))
print(float(x))

4
4.0

In [13]:
x="some char"
type(x)

str

In [14]:
# int(x) ##ERROR

In [15]:
x=1.22
y =20
# DAMN

In [16]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

21.22
-18.78
24.4
0.061
1.22

In [17]:
z=(x+y)**x - y/x
z

25.162138797139985

In [18]:
a,b,c,d = x+2,y+3,x+y,x**(x+y)

In [19]:
a,b,c,d

(3.2199999999999998, 23, 21.22, 68.00731157600202)

In [20]:
# a,b,c=2
a,b,c = 2,2,2
a,b,c

(2, 2, 2)

In [21]:
a,b,c = [2,2,2]
a,b,c

(2, 2, 2)

In [22]:
a,b,c= [2] * 3
a,b,c

(2, 2, 2)

In [23]:
a=b=2

In [24]:
print(a)
print(b)
print(c)

2
2
2

In [25]:
import math
print(math.log(x))
print(math.trunc(math.log(x)))
math.factorial(5)

0.19885085874516517
0

120

In [26]:
import math as m
m.sin(x)

0.9390993563190676

In [27]:
x=True
y=False

In [28]:
type(x)

bool

In [29]:
type(y)

bool

In [30]:
x and y

False

In [31]:
x & y

False

In [32]:
x or y

True

In [33]:
x | y

True

In [34]:
not x

False

In [35]:
x = "Bombay"
y = "Bangalore"
x,y

('Bombay', 'Bangalore')

In [36]:
len(x),len(y)

(6, 9)

In [37]:
x+y

'BombayBangalore'

In [38]:
x+" "+"#*$^"+" "+y

'Bombay #*$^ Bangalore'

In [39]:
z=x+" to "+y
z

'Bombay to Bangalore'

# Markdown Heading 1
## Markdown Heading 2
### Markdown Heading 3

In [40]:
z.upper()

'BOMBAY TO BANGALORE'

In [41]:
z.lower()

'bombay to bangalore'

In [42]:
z.capitalize()

'Bombay to bangalore'

In [43]:
len(z)

19

In [44]:
z.rjust(25)
# 20 is string length after padding with space

'      Bombay to Bangalore'

In [45]:
z.center(30)

'     Bombay to Bangalore      '

In [46]:
z = "   " + z + "   "
z

'   Bombay to Bangalore   '

In [47]:
z.lstrip()

'Bombay to Bangalore   '

In [48]:
z.rstrip()

'   Bombay to Bangalore'

In [49]:
z.strip()  
# > 1 spaces removed 
# unecessary tabs also removed

'Bombay to Bangalore'

In [50]:
zz = '5'

In [51]:
zz.isnumeric()

True

In [52]:
print(z)
z=z.replace("B","$#@")
z

Bombay to Bangalore

'   $#@ombay to $#@angalore   '

In [53]:
zz= 'abcd'
zz.isnumeric()

False

In [54]:
print(z)
z=z.strip()
z

$#@ombay to $#@angalore

'$#@ombay to $#@angalore'

In [55]:
ab="ipl_match_1"
lst = ab.split('_')
tup=tuple(lst)
tup

('ipl', 'match', '1')

In [56]:
print(z)
k=z.split("a")
print(k)
print(type(k))

$#@ombay to $#@angalore
['$#@omb', 'y to $#@', 'ng', 'lore']
<class 'list'>

In [57]:
# v , e, r, z, e, o
# 0 , 1, 2, 3, 4, 5
# -6,-5,-4,-3,-2,-1
z = 'verzeo'
print(z)
z[2:4]

verzeo

'rz'

In [58]:
print(z)
z[3:]

verzeo

'zeo'

In [59]:
print(z)
z[:3]

verzeo

'ver'

In [60]:
print(z)
z[:-3]

verzeo

'ver'

In [61]:
print(z)
z[3:-3]

verzeo

''

In [62]:
print(z)
z[-6:-2]

verzeo

'verz'

In [63]:
print(z)
z[::2]

verzeo

'vre'

In [64]:
print(z)
z[::-1]

verzeo

'oezrev'

In [65]:
z = "Verzeo"
z.islower()

False

In [66]:
print(z)
z.count("e")

Verzeo

2

In [68]:
z = "Bombay to bangalore"
print(z)
z.count("B")

Bombay to bangalore

1

In [70]:
x=34
y=32

In [73]:
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)
print(x==y)
print(x!=y)

False
False
True
True
False
True

In [74]:
x="ab"
y="assignment"
print(x in y)
print(x not in y)

False
True